<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services provider</title>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/cart">Cart</a></li>
        </ul>
        </ul>
    </nav>
        <footer class="foot">
        <div class="join">
            <h4 class="heading-4">Join with us</h4>
            <input type="email" name="mail" id="mail" placeholder="Email">
        </div>
        <div class="about" action="/about">
            <h4 class="heading-4">What We're about</h4>
            <p class="para">Welcome to WasteWise, your trusted partner in responsible e-waste management. At WasteWise, we are
                committed to safeguarding our environment by providing sustainable solutions for electronic waste
                disposal.Our mission is to reduce the environmental impact of e-waste through comprehensive recycling
                and recovery services.</p>
        </div>
        <div class="contact">
            <h4 class="heading-4">Contact us</h4>
            <p class="para">E-mail:<strong>Waste@Wise.in</strong></p>
            <p class="para">Whatsapp:<strong>+91 8975443559</strong></p>
        </div>
    </footer>
    <script src="/js/about.js"></script>
</body>
</html>